// src/sass/heading.scss

@use "./variables" as *;

.heading {
  svg {
    width: 15vh;
    height: 4vh;
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  path {
    fill: transparent;
    stroke: #fff;
    stroke-width: 1px;
  }

  @keyframes borderani {
    0% {
      stroke-dashoffset: 100%;
    }
    20% {
      stroke-dashoffset: 80%;
    }
    40% {
      stroke-dashoffset: 60%;
    }
    60% {
      stroke-dashoffset: 40%;
    }
    80% {
      stroke-dashoffset: 20%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }

  @keyframes strokeFill {
    from {
      fill: transparent;
      stroke: #fff;
    }
    to {
      fill: #fff;
      stroke: transparent;
    }
  }

  /* Tablet Adjustments */
  @include mq($tablet) {
    svg {
      width: 10vh;
    }
  }

  /* Mobile Adjustments */
  @include mq($mobile) {
    svg {
      width: 8vh;
    }
  }
}
